<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zym.submit.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.zym.submit.entity.Report">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="student_number" jdbcType="VARCHAR" property="studentNumber" />
    <result column="report_name" jdbcType="VARCHAR" property="reportName" />
    <result column="report_path" jdbcType="VARCHAR" property="reportPath" />
    <result column="report_correct" jdbcType="TINYINT" property="reportCorrect" />
    <result column="task_grade" jdbcType="DOUBLE" property="taskGrade" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, task_id, class_id, student_number, report_name, report_path, report_correct, 
    task_grade, is_valid, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.zym.submit.entity.entityExample.ReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from report
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zym.submit.entity.entityExample.ReportExample">
    delete from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zym.submit.entity.Report">
    insert into report (id, task_id, class_id, 
      student_number, report_name, report_path, 
      report_correct, task_grade, is_valid, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, #{classId,jdbcType=INTEGER}, 
      #{studentNumber,jdbcType=VARCHAR}, #{reportName,jdbcType=VARCHAR}, #{reportPath,jdbcType=VARCHAR}, 
      #{reportCorrect,jdbcType=TINYINT}, #{taskGrade,jdbcType=DOUBLE}, #{isValid,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zym.submit.entity.Report">
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="studentNumber != null">
        student_number,
      </if>
      <if test="reportName != null">
        report_name,
      </if>
      <if test="reportPath != null">
        report_path,
      </if>
      <if test="reportCorrect != null">
        report_correct,
      </if>
      <if test="taskGrade != null">
        task_grade,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentNumber != null">
        #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null">
        #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportPath != null">
        #{reportPath,jdbcType=VARCHAR},
      </if>
      <if test="reportCorrect != null">
        #{reportCorrect,jdbcType=TINYINT},
      </if>
      <if test="taskGrade != null">
        #{taskGrade,jdbcType=DOUBLE},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zym.submit.entity.entityExample.ReportExample" resultType="java.lang.Long">
    select count(*) from report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.studentNumber != null">
        student_number = #{record.studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.reportName != null">
        report_name = #{record.reportName,jdbcType=VARCHAR},
      </if>
      <if test="record.reportPath != null">
        report_path = #{record.reportPath,jdbcType=VARCHAR},
      </if>
      <if test="record.reportCorrect != null">
        report_correct = #{record.reportCorrect,jdbcType=TINYINT},
      </if>
      <if test="record.taskGrade != null">
        task_grade = #{record.taskGrade,jdbcType=DOUBLE},
      </if>
      <if test="record.isValid != null">
        is_valid = #{record.isValid,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update report
    set id = #{record.id,jdbcType=INTEGER},
      task_id = #{record.taskId,jdbcType=INTEGER},
      class_id = #{record.classId,jdbcType=INTEGER},
      student_number = #{record.studentNumber,jdbcType=VARCHAR},
      report_name = #{record.reportName,jdbcType=VARCHAR},
      report_path = #{record.reportPath,jdbcType=VARCHAR},
      report_correct = #{record.reportCorrect,jdbcType=TINYINT},
      task_grade = #{record.taskGrade,jdbcType=DOUBLE},
      is_valid = #{record.isValid,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zym.submit.entity.Report">
    update report
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentNumber != null">
        student_number = #{studentNumber,jdbcType=VARCHAR},
      </if>
      <if test="reportName != null">
        report_name = #{reportName,jdbcType=VARCHAR},
      </if>
      <if test="reportPath != null">
        report_path = #{reportPath,jdbcType=VARCHAR},
      </if>
      <if test="reportCorrect != null">
        report_correct = #{reportCorrect,jdbcType=TINYINT},
      </if>
      <if test="taskGrade != null">
        task_grade = #{taskGrade,jdbcType=DOUBLE},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zym.submit.entity.Report">
    update report
    set task_id = #{taskId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      student_number = #{studentNumber,jdbcType=VARCHAR},
      report_name = #{reportName,jdbcType=VARCHAR},
      report_path = #{reportPath,jdbcType=VARCHAR},
      report_correct = #{reportCorrect,jdbcType=TINYINT},
      task_grade = #{taskGrade,jdbcType=DOUBLE},
      is_valid = #{isValid,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>