<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>表单文件上传</title>
</head>
<body>
  <form action="/submit/addReport/add" method="post" enctype="multipart/form-data">
    学年<input type="text" name="schoolYear"><br>
    学期<input type="text" name="term"><br>
    年级<input type="text" name="grade"><br>
    班级<input type="text" name="schoolClass"><br>
    工号<input type="text" name="teacherNumber"><br>
    课程<input type="text" name="course"><br>
    实验<input type="text" name="experimentName"><br>
    截止日期 <input type="date" name="submitDeadline" /><br>
    <input type="file" name="file"><br>
    <input type="submit" value="添加">
</form>
</body>
</html>
