<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>文件上传</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!--@thymesVar id="name" type="templates" --><!--本地测试 -->
<!--<form method="post" action="/uploadtest" enctype="multipart/form-data">-->
<!--    <input type="file" name="file"><br>-->
<!--    <input type="submit" value="提交">-->
<!--</form>-->


<form method="post" action="/upload2" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit" value="提交">
</form>

</body>
</html>